@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  
}
body{
  background-color: rgb(222, 240, 242);
}
/* title */
.title {
  text-align: center;
  padding-top: 40px;
  font-size: 2.5rem;
  position: relative;
  font-weight: bold;
}
.title::before{
  content: "";
  position: absolute;
  width: 7%;
  height: 4%;
  background-color: rgb(49, 228, 248);
  left: 47%;
  bottom: 0;
}

/* Card */
.card{
  background-color: #fff;
  width: 50%;
  display: block;
  margin-inline: auto;
  margin-top: 50px;
  padding: 10px;
  border-radius: 6px;
  z-index: -1;
}

/* ProfilePic */
.ProfilePic{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin-inline: auto;
  display: block;
  box-shadow: 7px 0px rgb(49, 228, 248);
}
/* Name and Designation */
.Name h1{
  font-size: 1rem;
}
.Name h3{
  font-size: 0.8rem;
  color: rgb(49, 228, 248);
  font-weight: 600;
  opacity: 0.8;
}
.Name{
  text-align: center;
  margin-top: 10px;
}

/* Intro */
.Intro p{
  text-align: center;
  padding-top: 5px;
  padding-inline: 30px;
  font-size: 0.8rem;
  opacity: 0.7;
}
/* Surprise */
.Surprise{
  display: flex;
  justify-content: center;
}
/* SliderButton */
.SlideButton{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 23px;
  
}